<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main page</title>

    </head>
    <body>
        <table id="mainTable">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Word</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="keyTextInput"></td>
                    <td><input type="text" id="wordTextInput"></td>
                    <td><input type="button" value="Add" onclick="addRecord()"></td>
                </tr>
            </tbody>
        </table>
        <script src="/JS/update.js"></script>
        <script src="/JS/add.js"></script>
    </body>
</html>